body{
  margin: 0px;
  /*background: grey;*/
  background-position: center;
  background-size: cover;
  font-family: "Lucida Console", Courier, monospace;
}

a:hover {
  font-style: italic;
}

#header {
  position: absolute;
  margin: 8px;
}

#threeDeeParent {
	display: flex;
  position: absolute; 
  width: 100%;
	height: 100vh;
  padding: 0 0;
}

#threeDee {
  width: 500px;
  height: 500px;
  margin: auto auto;
}

div.dxElement {
  position: absolute;
  color: white;
  background: black;
  font-size: larger;
}

#currentSelectionInfo {
  width: 100%;
  padding-top: 80vh;
  text-align: center;
  position: absolute;
}